# ignore everything but folders
*
!*/

# specifically ignore virtual environment
.venv_kt_game

# unignore program file(s)
!*.py
#!*.txt

# unignore README
!README.md

# unignore gitignore
!.gitignore
